@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body,
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background-color: rgba(26, 11, 46, 1);
  color: white;
}
* {
  margin: 0;
  padding: 0;
}

/* common design */
.hidden {
  display: none;
}
a {
  text-decoration: none;
  color: white;
}
ul {
  list-style: none;
}
.width {
  width: 80%;
  margin: 0 auto;
}
.common-btn {
  padding: 12px 20px;
  border: none;
  border-radius: 999px;
  background: linear-gradient(
    90deg,
    rgba(145, 0, 248, 1),
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  color: white;
  background-size: 300%;
  font-weight: 600;
  transition: transform 0.2s linear;
  animation: gradient-background 2.5s linear infinite;
}
.common-btn:hover {
  transform: scale(1.05);
}

/* header section design */
.menu-icon {
  display: none !important;
}
button:hover {
  cursor: pointer;
}
.navbar {
  display: flex;
  /* border: 2px solid; */
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.navbar ul a {
  position: relative;
}
.navbar ul a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  border-radius: 8px;
  background-color: white;
  transition: width 0.2s linear;
}
.navbar ul a:hover::after {
  width: 100%;
}
.logo {
  font-size: 32px;
}
.logo span {
  background: linear-gradient(
    45deg,
    rgba(145, 0, 248, 1),
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)
  );
  background-size: 300%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-background 2.5s linear infinite;
}
@keyframes gradient-background {
  to {
    background-position: 300%;
  }
}

/* banner section design */
.banner {
  /* border: 2px solid; */
  background-image: url(assets/hero-bg.png);
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-top: 1px solid rgb(66, 1, 66);
  padding-top: 40px;
}
.banner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-img {
  /* border: 2px solid; */
  margin-top: 40px;
  background-image: url(assets/hero-circle.png);
  height: 300px;
  width: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.banner-img::after {
  content: "NEW";
  position: absolute;
  top: 5%;
  right: 10%;
  transform: translate(-5%, -10%);
  box-shadow: 0 0 10px #00ff88, 0 0 20px #00ff88;
  height: 35px;
  width: 70px;
  color: black;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  background-color: #00ff88;
}
.banner-content {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 40px;
}
.banner-content p {
  text-align: center;
  opacity: 0.8;
}
.banner-content h1 {
  font-size: 48px;
}
.btn-container > button img {
  height: 15px;
  width: 15px;
}
.btn-container {
  display: flex;
  gap: 20px;
}
.btn-container > button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.message-btn {
  padding: 12px 20px;
  border: 2px solid #00ff88;
  border-radius: 999px;
  color: #00ff88;
  font-weight: 600;
  background: transparent;
  transition: transform 0.2s linear;
}
.message-btn:hover {
  transform: scale(1.05);
}
/* podcast section design */
#about {
  /* border: 2px solid red; */
  margin: 40px auto;
}
.about-podcast-content {
  /* border: 2px solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.about-podcast-content p {
  text-align: center;
  opacity: 0.8;
  max-width: 72ch;
  line-height: 24px;
}
h3 {
  font-size: 44px;
  text-align: center;
}
.podcast-card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
  margin-top: 40px;
  border-top: 1px solid rgb(66, 1, 66);
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 10px;
  /* border: 2px solid; */
  padding: 20px;
}
.card h2 {
  text-align: center;
  font-size: 44px;
  color: #00ff88;
}
.card p {
  text-transform: uppercase;
  font-weight: 500;
  opacity: 0.8;
  text-align: center;
}

/* why choose section */
#why-choose {
  background: rgb(35, 14, 61);
  padding: 40px 0;
  /* display: none; */
}
.tech-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 30px 0;
}
.col-span {
  grid-column: span 2;
}
.row-span {
  grid-row: span 2;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.tech-card {
  padding: 30px;
  display: grid;
  gap: 15px;
  background: rgba(53, 17, 101, 0.4);
  border-radius: 10px;
}
.tech-card h4,
.card-info h4 {
  font-size: 24px;
}
.tech-card > p,
.episode-card p {
  opacity: 0.6;
}

/* featured episodes section */
#episodes {
  margin: 40px auto;
}
.episodes-container {
  padding: 40px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 40px;
  /* border: 2px solid; */
}
.episode-card {
  display: grid;
  gap: 15px;
  background: rgba(53, 17, 101, 0.4);
  border-radius: 12px;
  overflow: hidden;
}
.card-info {
  padding: 0 20px;
  display: grid;
  gap: 15px;
  padding-bottom: 10px;
}
.timer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  color: #00ff88;
  font-weight: 600;
  opacity: 1 !important;
}

.video iframe {
  width: 100%;
}
/* responsive section */
@media screen and (max-width: 576px) {
  .width {
    width: 95%;
  }
  .menu-icon {
    display: inline !important;
  }
  .navbar > ul,
  .navbar > button {
    display: none;
  }
  .banner {
    padding-top: 0;
  }
  .banner-img {
    margin-top: 100px;
    height: 200px;
    width: 200px;
  }
  .banner-img img {
    width: 100px;
  }
  .banner-content h1 {
    font-size: 38px;
  }
  .banner-img::after {
    right: -10%;
    transform: translateY(10%);
  }
  .podcast-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  h3 {
    font-size: 34px;
  }
  .card p {
    font-size: 14px;
  }
  .card h2 {
    font-size: 38px;
  }
  #why-choose {
    padding: 20px 0;
  }
  .tech-card-container, .episodes-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .col-span {
    grid-column: span 1;
  }
  .row-span {
    grid-row: span 1;
  }
}
